@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manufacturing+Consent&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Content&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-pixel: "Jacquard 12";
  --font-typewriter: "Special Elite";
  --font-gothic: "Manufacturing Consent";
  --font-content: "Content"
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
